{% extends 'main.html' %} {% block content %}
<div class="container" style="margin-top: 3rem">
  <!-- <div class="page-header">
    <h1>About Me</h1>
  </div> -->
  <!--END page-header-->
  <div class="row" id="features">
    <div class="col-sm-7 feature">
      <img
        src="{{ profile.s_foto.url }}"
        alt="Web Design"
        class="img-circle"
        style="width: 100%"
      />
    </div>
    <!--END feature-->

    <div class="col-sm-5 feature">
      <h1>{{profile.s_nosaukums}}</h1>
      <p>{{profile.s_apraksts}}</p>
      <p>{{profile.lokacija}}</p>
      <div class="container">
        <button type="button" class="btn btn-secondary">
          <a style="color: white" href="{% url 'edit-account' %}"
            >Rediģēt profilu</a
          >
        </button>
        <button type="button" class="btn btn-secondary">
          <a style="color: white" href="{% url 'create-product' %}"
            >Pievienot produktu</a
          >
        </button>
      </div>
    </div>
    <!--END feature-->
  </div>
  <!--end features-->
</div>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 1rem">
  {% for product in profile.product_set.all reversed %}
  <div class="col" style="margin-top: 1rem">
    <div class="card h-100">
      <div>
        <a href="{% url 'product' product.id %}" class="card__body">
          <img src="{{ product.p_foto.url }}" class="card-img-top" alt="image"
        /></a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.p_nosaukums }}</h5>
        <p class="card-text">{{ product.cena }} Eur {{product.mervieniba}}</p>
        <button type="button" class="btn btn-secondary">
          <a style="color: white" href="{% url 'update-product' product.id %}"
            >Rediģēt</a
          >
        </button>

        <button
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#my-modal-{{ product.id }}"
        >
          Dzēst
        </button>

        <div
          id="my-modal-{{ product.id }}"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
              <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                  <div class="card-header pb-0 bg-white border-0">
                    <div class="row">
                      <div class="col ml-auto">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <p class="font-weight-bold mb-2">
                      Vai Jūs esat pārliecināti ka vēlaties izdzēst šo produktu?
                    </p>
                  </div>
                  <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                    <div class="row justify-content-end no-gutters">
                      <div class="col-auto">
                        <button
                          type="button"
                          class="btn btn-light text-muted"
                          data-dismiss="modal"
                        >
                          Atcelt
                        </button>
                      </div>
                      <div class="col-auto">
                        <form
                          action="{% url 'delete-product' product.id %}"
                          method="post"
                        >
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">
                            Delete Product
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
