{% extends 'main.html'%} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Reģistrēties</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Reģistrēties</button>
    </div>
  </form>
  <div class="borer-top pt-3">
    <small class="text-muted"
      >Vai tev jau ir konts?
      <a class="ml-2" href="{% url 'login' %}">Pieslēgties</a></small
    >
  </div>
</div>
{% endblock content %}
