{% extends 'main.html' %} {%block content%}
<h1>SAIMNIECĪBAS</h1>
{% for profile in profiles %}
<div class="column card">
  <div class="dev">
    <a href="{% url 'user-profile' profile.id %}" class="card__body">
      <div class="dev__profile">
        <img
          class="avatar avatar--md"
          src="{{ profile.s_foto.url }}"
          alt="image"
        />
        <div class="dev__meta">
          <h3>{{ profile.s_nosaukums }}</h3>
          <p class="dev__info">{{ profile.s_apraksts|truncatechars:55 }}</p>

          <h5>{{ profile.lokacija }}</h5>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %} {% endblock content%}
