{% extends 'main.html' %} {% block content %}
<div class="container" style="margin-top: 3rem">
  <!-- <div class="page-header">
    <h1>About Me</h1>
  </div> -->
  <!--END page-header-->
  <div class="row" id="features">
    <div class="col-sm-7 feature">
      <img
        src="{{ profile.s_foto.url }}"
        alt="Web Design"
        class="img-circle"
        style="width: 100%"
      />
    </div>
    <!--END feature-->

    <div class="col-sm-5 feature">
      <h1>{{profile.s_nosaukums}}</h1>
      <p>{{profile.s_apraksts}}</p>
      <p>{{profile.talrunis}}</p>
      <p>{{profile.email}}</p>
      <p>{{profile.lokacija}}</p>
    </div>
    <!--END feature-->
  </div>
  <!--end features-->
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 1rem">
  {% for product in profile.product_set.all %}
  <div class="col" style="margin-top: 1rem">
    <div class="card h-100">
      <div>
        <a href="#" class="card__body">
          <img src="{{ product.p_foto.url }}" class="card-img-top" alt="image"
        /></a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.p_nosaukums }}</h5>
        <p class="card-text">{{ product.cena }} Eur {{product.mervieniba}}</p>
        <p class="card-text">{{ product.saimnieciba.s_nosaukums}}</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">{{ saimnieciba.lokacija }}</small>
      </div> -->
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
