{% extends 'main.html' %} {% load socialaccount %} {% providers_media_js %}
<!--  -->
{% block content %} {% if page == 'register' %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <form action="{% url 'register' %}" method="POST">
            {% csrf_token %} {% for field in form %}
            <div class="mb-3 row">
              <label
                for="{{field.id_for_label}}"
                class="col-sm-4 col-form-label"
                >{{field.label}}</label
              >
              <div class="col-sm-8">
                {{field}} {% for error in field.errors %}
                <p class="text-danger">{{error}}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}

            <div class="text-center">
              <button type="submit" class="btn btn-primary">
                Reģistrēties
              </button>
              <button class="btn">
                <a
                  class="btn btn-lg btn-google btn-block"
                  href="{% provider_login_url 'google' %}"
                  ><img
                    src="https://img.icons8.com/color/16/000000/google-logo.png"
                  />
                  Pievienoties ar Google</a
                >
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <p>Jau esi reģistrējies? <a href="{% url 'login' %}">Ienākt</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <form method="POST" action="" class="form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Lietotājvārds:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter your username..."
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Parole:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="••••••••"
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">
                Pievienoties
              </button>

              <button class="btn">
                <a
                  class="btn btn-lg btn-google btn-block"
                  href="{% provider_login_url 'google' %}?next=/home/"
                  ><img
                    src="https://img.icons8.com/color/16/000000/google-logo.png"
                  />
                  Pievienoties ar Google</a
                >
              </button>
            </div>
          </form>
        </div>
        <div class="text-center card-footer mt-0">
          <p>
            Neesi reģistrējies? <a href="{% url 'register' %}">Reģistrēties</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
