{% extends 'main.html' %} {% block content %} {% if page == 'farm' %}

<div class="container" style="margin-top: 3rem">
  <!-- <div class="page-header">
    <h1>About Me</h1>
  </div> -->
  <!--END page-header-->
  <div class="row" id="features">
    <div class="col-sm-7 feature text-center">
      <img src="{{ profile.farm.foto.url }}" class="prof_pic" />
    </div>
    <div class="col-sm-5 feature">
      <h1>{{profile.farm.name}}</h1>
      <p>{{profile.farm.description}}</p>
      <p>{{profile.address}}</p>
      <div class="container">
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'edit-farm' %}">Rediģēt profilu</a>
        </button>
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'add-product' %}">Pievienot produktu</a>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 1rem">
  {% for product in profile.product_set.all reversed %}
  <div class="col" style="margin-top: 1rem">
    <div class="card h-100">
      <div>
        <a href="{% url 'product' product.product_id %}" class="card__body">
          <img src="{{ product.foto.url }}" class="card-img-top" alt="image"
        /></a>
      </div>
      <div class="card-body">
        <a href="{% url 'product' product.product_id %}"
          ><h5 class="card-title">{{ product.name }}</h5></a
        >
        <p class="card-text">{{ product.price }} € / {{ product.unit}}</p>
        <button type="button" class="btn btn-secondary">
          <a class="edit" href="{% url 'update-product' product.product_id %}"
            >Rediģēt</a
          >
        </button>
        <button
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#my-modal-{{ product.product_id }}"
        >
          Dzēst
        </button>

        <div
          id="my-modal-{{ product.product_id }}"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
              <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                  <div class="card-header pb-0 bg-white border-0">
                    <div class="row">
                      <div class="col ml-auto"></div>
                    </div>
                    <p class="font-weight-bold mb-2">
                      Vai Jūs esat pārliecināti ka vēlaties izdzēst šo produktu?
                    </p>
                  </div>
                  <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                    <div class="row justify-content-end no-gutters">
                      <div class="col-auto">
                        <button
                          type="button"
                          class="btn btn-light text-muted"
                          data-bs-dismiss="modal"
                        >
                          Atcelt
                        </button>
                      </div>
                      <div class="col-auto">
                        <form
                          action="{% url 'delete-product' product.product_id %}"
                          method="post"
                        >
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">
                            Dzēst produktu
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="container" style="margin-top: 3rem">
  <div class="row" id="features">
    <div class="col-sm-7 feature text-center">
      <img class="prof_pic" src="{{ profile.foto.url }}" />
    </div>
    <div class="col-sm-5 feature profile">
      <p>Vārds: {{profile.first_name}}</p>
      <p>Uzvārds: {{profile.last_name}}</p>
      <p>Tālrunis: {{profile.phone}}</p>
      <p>E-pasts: {{profile.email}}</p>
      <div class="container">
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'edit-profile' %}">Rediģēt profilu</a>
        </button>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
