{% extends 'main.html' %} {% block content %}
<main
  class="formPage my-xl mt-4 d-flex justify-content-center align-items-center"
>
  <div class="content-box">
    <div class="formWrapper text-center">
      <h3>Paroles nomaiņa ir uzsākta</h3>
      <p class="my-3">
        Mēs nosūtījām jums pa e-pastu instrukcijas jaunas paroles iestatīšanai,
        ja pastāv konts ar ievadīto e-pasta adresi.
      </p>
      <p class="my-3">
        Ja nesaņemat e-pastu, lūdzu, pārliecinieties, vai esat ievadījis adresi,
        ar kuru reģistrējāties.
      </p>
    </div>
  </div>
</main>

{% endblock content %}
