{% extends 'main.html' %} {% block content %}

<main
  class="formPage my-xl mt-4 d-flex justify-content-center align-items-center"
>
  <div class="content-box">
    <div class="formWrapper">
      <h3 class="text-center">Ievadi jauno paroli</h3>
      <br />

      <form class="form" method="POST">
        {% csrf_token %} {{form.as_p}}

        <input
          class="btn btn--sub btn-primary my-md"
          type="submit"
          value="Apstiprināt"
        />
      </form>
    </div>
  </div>
</main>
{% endblock content %}
