{% extends 'main.html' %} {% block content %}

<main
  class="formPage my-xl mt-4 d-flex justify-content-center align-items-center"
>
  <div class="content-box">
    <div class="formWrapper">
      <h3 class="text-center">Paroles nomaiņa ir pabeigta</h3>
      <p class="text-center">Varat doties uz priekšu un ieiet savā kontā.</p>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-m my-md">
          <a style="color: white" href="{% url 'login' %}">Ienākt</a>
        </button>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
