{% extends 'main.html' %} {% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 1rem">
  {% for product in products %}
  <div class="col" style="margin-top: 1rem">
    <div class="card h-100">
      <div>
        <a href="{% url 'product' product.id %}" class="card__body">
          <img src="{{ product.p_foto.url }}" class="card-img-top" alt="image"
        /></a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.p_nosaukums }}</h5>
        <p class="card-text">
          {{ product.cena }} € / {{ product.cenas_mervieniba }}
        </p>
        <a
          style="color: black"
          href="{% url 'user-profile' product.saimnieciba.id %}"
        >
          <p style="font-size: 20px" class="card-text">
            {{ product.saimnieciba.s_nosaukums}}
          </p></a
        >
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">{{ saimnieciba.lokacija }}</small>
      </div> -->
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
