{% extends 'main.html' %} {% block content %}
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0 product_img"
          src="{{ product.foto.url }}"
          alt="..."
        />
      </div>

      <div class="col-md-6">
        <a style="color: black" href="{% url 'farm' product.farm.farm.id %}">
          <p style="font-size: 20px" class="card-text">
            {{ product.farm.farm.name}}
          </p></a
        >

        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="fs-2 mb-2">
          <span style="font-size: 20px"
            >{{ product.price }} € / {{ product.unit }}
          </span>
        </div>
        <p class="lead">{{ product.description }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
